<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
    <script type="text/javascript" src="../vue.js"></script>
</head>

<body>
    <div id="root">
        <!-- v-for遍历 数组  -->
        <h2>人员列表</h2>
        <input type="text" placeholder="请输入查询的名字" v-model="value">
        <ul>
            <li v-for="item in selectPerson" :key="item.id">{{item.name}}-{{item.age}}-{{item.sex}}</li>
        </ul>
    </div>

    <script>
        new Vue({
            el: "#root",
            data() {
                return {
                    value: '',
                    persons: [{
                            id: "001",
                            name: "周冬雨",
                            age: 18,
                            sex: "女"
                        },
                        {
                            id: "002",
                            name: "马冬梅",
                            age: 20,
                            sex: "女"
                        },
                        {
                            id: "003",
                            name: "周杰伦",
                            age: 29,
                            sex: "男"
                        },
                        {
                            id: "004",
                            name: "温兆伦",
                            age: 27,
                            sex: "男"
                        },

                    ],
                    selectPerson: ''

                }
            },
            // 计算属性
            /* computed: {
                selectPersons() {
                    return this.persons.filter(ele => {
                        return ele.name.indexOf(this.value) !== -1;
                    })
                }
                
            }, */
            // 监视属性
            watch: {
                // value(val){
                //   this.selectPerson = this.persons.filter((p)=>{
                //         return p.name.indexOf(val) !== -1;
                //     })
                // }
                value: {
                    immediate: true,
                    handler(val) {
                        this.selectPerson = this.persons.filter((p) => {
                            return p.name.indexOf(val) !== -1;
                        })
                    }
                }

            }
        })
    </script>
</body>

</html>