*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.nav-header{
    height: 90px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.head-contain{
    width: 1180px;
    height: 90px;
    margin: 0 auto;
    text-align: center;
}
.top-login, .top-nav, .top-nav li, .top-right{
    display: inline-block;
    height: 90px;
    vertical-align: top;
}
.top-nav{
    margin: 0 48px;
}
.top-nav li{
    line-height: 90px;
    width: 90px;
    list-style: none;
}
.top-nav li a{
    display: block;
    text-align: center;
    font-size: 16px;
    color: white;
}
.top-nav li a:hover{
    color: black;
}
.top-right a{
    display: inline-block;
    font-size: 16px;
    text-align: center;
    margin: 25px 0 0 0;
    border-radius: 35px;
}
.top-right a:first-of-type{
    width: 93px;
    height: 38px;
    line-height: 38px;
    color: #fad65c;
    border: 1px solid #fad65c;
}
.top-right a:first-of-type:hover{
    color: #986b0d;
    background-color: #fad65c;
}
.top-right a:last-of-type{
    width: 140px;
    height: 40px;
    font-weight: 700;
    line-height: 40px;
    color: #fad65c;
    border: 1px solid #fad65c;
}
.top-right a:last-of-type:hover{
    color: #986b0d;
    background-color: #fad65c;
}
