div{
    margin: 10px;
    padding: 5px;
    /* display: inline-block; */
}
#father{
    /* width: 900px;
    height: 900px;  */
    border: 1px solid; 
    /* overflow: hidden; */
}
#father::after{
    content: '';
    display: block;
    clear: both;
}
.layer01{
    border: 1px #000 solid;
    float: right;
}
.layer02{
    border: 1px #F00 dashed;
    float: left;
}
.layer03{
    border: 1px #00F dashed;
    float: left;
}
/* 
    clear: right 右侧不允许有浮动元素
    clear: left 左侧不允许有浮动元素
    clear: both 两侧不允许有浮动元素
    clear: none; 

*/
.layer04{
    border: 1px #060 dashed;
    font-size: 12px;
    line-height: 23px;
    float:left;
    /* clear: both; */
}
/* .clear{
    clear: both;
    margin: 0;
    padding: 0;
} */